#   Composer
/vendor

#   Npm
/node_modules

#   Laravel
.env
/bootstrap/cache/*
/storage/app/*
/storage/debugbar
/storage/framework/*
/storage/logs/*
/storage/*.key
/storage/articles/*

#   IDE
.tags*

#   OSX
.DS_Store

#   Build
/build/*
